<!-- START panel-->
<div id="panelDemo10" class="panel panel-danger">
  <div class="panel-heading">Verification Failed</div>
  <div class="panel-body">
    <p>The Identification documents you uploaded did not match the details registered with this account. Contact customer service for assistance</p>
  </div>
  <div class="panel-footer">Click <a href="#"><%= link_to 'here', edit_p_user_path(@p_user) %></a> to re-submit documents</div>
</div>
<!-- END panel-->