<!-- START panel-->
<div id="panelPortlet8" class="panel panel-danger">
  <div class="panel-heading portlet-handler">Complete your profile</div>
  <div class="panel-body">
    <p>Please provide your ID/Passport number and your phone number to facilitate verification. You could also change your profile pic while you are at it :)</p></div>
  <div class="panel-footer">Click <a href="#"><%= link_to 'here', edit_p_user_path(@p_user) %></a> update profile</div>
</div>
<!-- END panel-->