<div id="panelDemo9" class="panel panel-success">
  <div class="panel-heading">Verified
    <a href="#" data-tool="panel-dismiss" data-toggle="tooltip" title="Close Panel" class="pull-right">
      <em class="fa fa-times"></em>
    </a>
  </div>
  <div class="panel-body">
    <p>Your Identification documents were automatically verified, now you can access all services without
      restrictions</p>
  </div>
  <div class="panel-footer">:)</div>
</div>
