<div id="panelDemo9" class="panel panel-success">
  <div class="panel-heading">Verified
  </div>
  <div class="panel-body">
    <p>Your Identification documents were automatically verified, now you can access all services without
      restrictions</p>
  </div>
  <div class="panel-footer">:)</div>
</div>
