<!-- top navbar-->
<header class="topnavbar-wrapper">
  <!-- START Top Navbar-->
  <nav role="navigation" class="navbar topnavbar">
    <!-- START navbar header-->
    <div class="navbar-header">
      <a href="#/" class="navbar-brand">
        <!--<div class="brand-logo">
          <img src="img/logo.png" alt="App Logo" class="img-responsive">
        </div>
        <div class="brand-logo-collapsed">
          <img src="img/logo-single.png" alt="App Logo" class="img-responsive">
        </div>
        -->
      </a>
    </div>
    <!-- END navbar header-->
    <!-- START Nav wrapper-->
    <div class="nav-wrapper">

    </div>
    <!-- END Nav wrapper-->

  </nav>
  <!-- END Top Navbar-->
</header>
<!-- sidebar-->
<aside class="aside">
  <!-- START Sidebar (left)-->
  <div class="aside-inner">
    <nav data-sidebar-anyclick-close="" class="sidebar">
      <!-- START sidebar nav-->
      <ul class="nav">
        <!-- Iterates over all sidebar items-->
        <li class="nav-heading ">
          <span data-localize="sidebar.heading.HEADER">Content</span>
        </li>
        <li class=" ">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-1"><em class="fa fa-home"></em></div>
            <div class="col-md-4"><%= link_to 'Home', home_path %></div>
          </div>

        </li>
        <li class=" ">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-1"><em class="fa fa-user-md"></em></div>
            <div class="col-md-4"><%= link_to 'Profile', @p_user %></div>
          </div>


        </li>
        <li class=" ">
          <a href="#" title="Services">
            <em class="fa fa-money "></em>
            <span data-localize="sidebar.nav.SERVICES">Services</span>
          </a>
        </li>


      </ul>
      <!-- END sidebar nav-->
    </nav>
  </div>
  <!-- END Sidebar (left)-->
</aside>

