<!-- top navbar-->
<header class="topnavbar-wrapper">
  <!-- START Top Navbar-->
  <nav role="navigation" class="navbar topnavbar">
    <!-- START navbar header-->
    <div class="navbar-header">
      <a href="#/" class="navbar-brand">
        <!--<div class="brand-logo">
          <img src="img/logo.png" alt="App Logo" class="img-responsive">
        </div>
        <div class="brand-logo-collapsed">
          <img src="img/logo-single.png" alt="App Logo" class="img-responsive">
        </div>
        -->
      </a>
    </div>
    <!-- END navbar header-->
    <!-- START Nav wrapper-->
    <div class="nav-wrapper">

    </div>
    <!-- END Nav wrapper-->

  </nav>
  <!-- END Top Navbar-->
</header>
<!-- sidebar-->
<aside class="aside">
  <!-- START Sidebar (left)-->
  <div class="aside-inner">
    <nav data-sidebar-anyclick-close="" class="sidebar">
      <!-- START sidebar nav-->
      <ul class="nav">
        <!-- Iterates over all sidebar items-->
        <li class="nav-heading ">
          <span data-localize="sidebar.heading.HEADER">Content</span>
        </li>

        <li class=" ">
          <a href="/home" title="Home">
            <em class="fa fa-home "></em>
            <span data-localize="sidebar.nav.HOME">Home</span>
          </a>
        </li>

        <li class=" ">
          <a href="/me/1" title="Profile">
            <em class="fa fa-user-md "></em>
            <span data-localize="sidebar.nav.PROFILE">Profile</span>
          </a>
        </li>

      </ul>
      <!-- END sidebar nav-->
    </nav>
  </div>
  <!-- END Sidebar (left)-->
</aside>

