<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="Bootstrap Admin App + jQuery">
  <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
  <title>Profile</title>

  <!-- =============== VENDOR STYLES ===============-->
  <!-- FONT AWESOME -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- SIMPLE LINE ICONS-->
  <link rel="stylesheet" href="/assets/simple-line-icons.css">
  <link rel="stylesheet" href="/assets/whirl.css">
  <link rel="stylesheet" href="/assets/animate.min.css">

  <!-- =============== BOOTSTRAP STYLES ===============-->
  <link rel="stylesheet" href="/assets/bootstrap.css" id="bscss">
  <!-- =============== APP STYLES ===============-->
  <link rel="stylesheet" href="/assets/app.css" id="maincss">
  <link rel="stylesheet" href="/assets/portal.css" id=pscss>
</head>