<div class="panel">
  <div class="panel-body">
    <button type="button" class="pull-right btn btn-default btn-sm">Copy this receipt</button>
    <h3 class="mt0">00004879</h3>
    <hr>
    <div class="row mb-lg">
      <div class="col-lg-4 col-xs-6 br pv">
        <div class="row">
          <div class="col-md-2 text-center visible-md visible-lg">
            <em class="fa fa-barcode fa-4x text-muted"></em>
          </div>
          <div class="col-md-2 text-center visible-md visible-lg">
            <em class="fa fa-barcode fa-4x text-muted"></em>
          </div>
          <div class="col-md-10">
            <h4>KYE 604</h4>
            <address></address>
            Parking
            <br>One Day
            <br>Location
          </div>
        </div>
      </div>
      <div class="clearfix hidden-md hidden-lg">
        <hr>
      </div>
      <div class="col-lg-4 col-xs-6 br pv"></div>
      <div class="clearfix hidden-md hidden-lg">
        <hr>
      </div>
      <div class="col-lg-4 col-xs-6 pv">
        <div class="clearfix">
          <p class="pull-left">Receipt No.
          <p class="pull-right mr">00004879</p>
        </div>
        <div class="clearfix">
          <p class="pull-left">Date</p>
          <p class="pull-right mr">25/08/2014</p>
        </div>

      </div>
    </div>
    <div class="table-responsive table-bordered mb-lg">
      <table class="table">
        <thead>
        <tr>
          <th>Item #</th>
          <th>Description</th>
          <th>Quantity</th>
          <th>Unit Price</th>
          <th class="text-right">Total</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Parking</td>
          <td>KYE 604 - Saloon Car, One Day</td>
          <td>1</td>
          <td>KSh. 200</td>
          <td class="text-right">KSh. 200</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-sm-offset-8 col-sm-4 pv">
        <div class="clearfix">
          <p class="pull-left">Subtotal</p>
          <p class="pull-right mr">KSh. 300</p>
        </div>
        <div class="clearfix">
          <p class="pull-left">Tax (21%)</p>
          <p class="pull-right mr">KSh. 50</p>
        </div>
        <div class="clearfix">
          <p class="pull-left h3">GRAND TOTAL</p>
          <p class="pull-right mr h3">KSh. 4000</p>
        </div>
      </div>
    </div>
    <hr class="hidden-print">
    <div class="clearfix">
      <button type="button" onclick="window.print();" class="btn btn-default pull-left">Print</button>
      <button type="button" class="btn btn-success pull-right">Send Receipt</button>
    </div>
  </div>
</div>
