<!-- START panel-->
<div id="panelDemo7" class="panel panel-default">
  <div class="panel-heading">No history</div>
  <div class="panel-body">
    <p>Your transactions will appear here</p>
  </div>
  <div class="panel-footer">Pay for services to see your history</div>
</div>
<!-- END panel-->
